
{{>partials/header}}
    {{#exibe}}
        Hello {{nome}}
    {{/exibe}}
    <h2>Lista de produto</h2>
    <ul>
        {{#produtos}}
            {{>partials/produtoItem}}    
        {{/produtos}}
    </ul>
{{>partials/footer}}