
{{>partials/header}}
    {{#exibe}}
        Hello {{nome}}
    {{/exibe}}
    <h2>Lista de animais</h2>
    <ul>
        {{#animals}}
            {{>partials/animalItem}}    
        {{/animals}}
    </ul>

    <hr/>
    <h2>Lista de peixes</h2>
    <ul>
        {{#animalPeixe}}
            {{>partials/animalItem}}    
        {{/animalPeixe}}
    </ul>
{{>partials/footer}}